body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}
h2 {
  margin-bottom: 0;
}

.login {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.login > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}

.ui.fixed.menu {
  padding: 15px;
}

.ui.container.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile h3 {
  margin-bottom: 0;
  margin-right: 10px;
}
.home-profile {
  margin-top: 70px;
  width: 50vw;
  margin: 70px auto;
  display: flex;
  padding: 25px;
  color: #fff;
}
